body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

#contact-us {
    padding: 50px 0;
    background: #fff;
}

#contact-us h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: aqua;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #0a0a0a;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.2s ease;
}

button:hover {
    background: #f027ad;
}
